header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  max-width: 100vw;
}
header .logo {
  width: auto;
  height: 3.7rem;
  padding: 10px 10px;
}
header .header-text {
  display: flex;
  display: row;
  padding: 1rem;
}
header .header-text button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #f2f2f2;
  padding-right: 1rem;
  border: none;
  background: none;
}
header .header-text button:hover {
  cursor: pointer;
  opacity: 0.6;
  scale: 0.98;
}

@media only screen and (max-width: 1050px) {
  .header-text button {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  header .logo {
    width: auto;
    height: 2rem;
    padding: 10px 10px;
  }
  .header-text {
    padding: 5rem;
  }
  .header-text .header-btn {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}
.landing-page {
  height: 100vh;
  background-image: url(../img/landing-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-page .container {
  z-index: 10;
  width: 50vw;
  background-color: rgba(56, 56, 56, 0.559);
  margin-top: 13rem;
  padding: 4rem 0rem 4rem 7rem;
}
.landing-page .container .landing-page--title {
  width: 100%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  padding-bottom: 2rem;
}
.landing-page .container .landing-page--text {
  color: #fff;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 1.7rem;
}
.landing-page .get-more {
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 100%;
}
.landing-page .get-more .more-btn {
  color: #fff;
  padding: 15px;
  background: none;
  font-size: 1.3rem;
  border: none;
  font-family: "Montserrat", sans-serif;
  width: 200px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.landing-page .get-more .more-btn:hover {
  animation-name: arrowMove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  cursor: pointer;
}
.landing-page .get-more .arrow-down {
  height: 3rem;
  padding-top: 1rem;
}

@keyframes arrowMove {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: 10px;
  }
  50% {
    margin-top: 0px;
  }
  75% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1600px) {
  .landing-page .container .landing-page--title {
    font-size: 3rem;
  }
  .landing-page .container .landing-page--text {
    font-size: 1.5rem;
  }
  .landing-page .get-more {
    padding-top: 16rem;
  }
}
@media only screen and (max-width: 1300px) {
  .landing-page .container {
    width: 70%;
  }
  .landing-page .container .landing-page--title {
    font-size: 3rem;
  }
  .landing-page .container .landing-page--text {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1050px) {
  .landing-page {
    background-image: url(../img/landing-page-phone.jpg);
  }
  .landing-page .container {
    width: 70%;
    padding: 4rem 0rem 4rem 2rem;
  }
  .landing-page .container .landing-page--title {
    font-size: 3rem;
  }
  .landing-page .container .landing-page--text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .landing-page {
    background-image: url(../img/landing-page-phone2.jpg);
  }
  .landing-page .container {
    width: 80%;
    padding: 4rem 0rem 4rem 2rem;
  }
  .landing-page .container .landing-page--title {
    font-size: 2.5rem;
  }
  .landing-page .container .landing-page--text {
    font-size: 1.2rem;
    text-align: left;
  }
  .landing-page .get-more {
    padding-top: 10rem;
  }
}
.preSection1 {
  height: 20vh;
  background-image: url(../img/preSection1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}
.preSection1 .preSection1-wrapper {
  width: 97%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.141);
  backdrop-filter: blur(5px);
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}
.preSection1 .preSection1-wrapper .section1-title {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  z-index: 15;
}

.section1 {
  height: 100vh;
  background-color: #0d0d0d;
}
.section1 .text-wrapper {
  padding: 4rem 2rem 6rem 10rem;
  color: #f2f2f2;
  background-color: #0d0d0d;
  width: 50vw;
  height: 60%;
  position: absolute;
  margin-top: 6rem;
  z-index: 5;
  border-radius: 2px;
}
.section1 .text-wrapper .section1-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.section1 .text-wrapper .section1-text {
  font-size: 2rem;
  width: 85%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 3rem;
  padding-top: 6rem;
}
.section1 .text-wrapper .section1-text p {
  padding-bottom: 3rem;
}
.section1 .text-wrapper .section1-text .toForm-btn {
  color: #2c2c2c;
  background-color: #f2f2f2;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 2px;
}
.section1 .text-wrapper .section1-text .toForm-btn:hover {
  cursor: pointer;
  scale: 0.99;
  opacity: 0.9;
  background-color: #c0c0c0;
}
.section1 .phone-image {
  width: 400px;
  padding-right: 10rem;
}
.section1 .video {
  height: auto;
  width: 50vw;
  margin-left: 50%;
  z-index: 2;
  opacity: 0.8;
  z-index: 1;
}
.section1 .cover-vid {
  background-color: rgba(16, 16, 16, 0.1568627451);
  background-image: url(../img/phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 0;
  margin-left: 50%;
  z-index: 3;
}
.section1 .fill-div {
  background-color: #0d0d0d;
  width: 50vw;
  height: 100vh;
  position: absolute;
  margin-top: 0;
  z-index: 4;
}

@media only screen and (min-width: 2000px) {
  .section1 .text-wrapper {
    width: 47%;
    padding: 4rem 0rem 6rem 15rem;
  }
  .section1 .text-wrapper .section1-text {
    width: 70%;
  }
}
@media only screen and (max-width: 1800px) {
  .section1 .text-wrapper .section1-text {
    font-size: 2rem;
    padding-top: 2.2rem;
  }
}
@media only screen and (max-width: 1400px) {
  .section1 .text-wrapper .section1-text {
    padding-top: 2.2rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1200px) {
  .section1 .text-wrapper .section1-text {
    padding-top: 2rem;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1050px) {
  .preSection1 {
    background-image: url(../img/preSection1-mid.jpg);
  }
  .preSection1 .preSection1-wrapper {
    width: 92%;
  }
  .preSection1 .preSection1-wrapper .section1-title {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 870px) {
  .preSection1 {
    background-image: url(../img/preSection1-small.jpg);
  }
  .preSection1 .preSection1-wrapper {
    width: 92%;
  }
  .preSection1 .preSection1-wrapper .section1-title {
    font-size: 2rem;
  }
  .section1 .text-wrapper {
    padding: 0;
    width: 100%;
  }
  .section1 .text-wrapper .section1-text {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    margin: auto;
  }
  .section1 .text-wrapper .section1-text p {
    padding-bottom: 6rem;
  }
  .section1 .text-wrapper .section1-text .toForm-btn {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
  }
  .section1 .fill-div {
    width: 100vw;
  }
  .section1 .cover-vid {
    background: none;
    display: none;
  }
}
@media only screen and (max-width: 380px) {
  .section1 .text-wrapper .section1-text {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 3rem;
    padding-top: 1.5rem;
    margin: auto;
  }
  .section1 .text-wrapper .section1-text p {
    padding-bottom: 6rem;
  }
  .section1 .text-wrapper .section1-text .toForm-btn {
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
  }
  .section1 .fill-div {
    width: 100vw;
  }
  .section1 .cover-vid {
    background: none;
    display: none;
  }
}
.preSection2 {
  height: 20vh;
  background-image: url(../img/preSection2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}
.preSection2 .preSection2-wrapper {
  width: 97%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.141);
  backdrop-filter: blur(5px);
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}
.preSection2 .preSection2-wrapper .section2-title {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  z-index: 15;
}

.section2 {
  height: 100vh;
  background-color: #0d0d0d;
}
.section2 .section2-img-first {
  height: 60%;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}
.section2 .section2-img-second {
  height: 60%;
  position: absolute;
  margin-top: 300px;
  margin-left: 300px;
}
.section2 .questions-container {
  transform: translate(85%);
  width: 50vw;
  position: absolute;
  margin-top: 300px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
.section2 .questions-container .question {
  display: flex;
  flex-direction: row;
  background-color: rgb(199, 199, 199);
  border-bottom: 1px solid rgb(185, 185, 185);
  width: 100%;
  height: 4rem;
  align-items: center;
  opacity: 0.85;
}
.section2 .questions-container .question .question-icon {
  width: 5%;
}
.section2 .questions-container .question .question-icon .icon {
  width: 40%;
  height: auto;
  padding-left: 1rem;
}
.section2 .questions-container .question .question-title {
  width: 90%;
  font-size: 1.3rem;
}
.section2 .questions-container .question:hover {
  opacity: 0.9;
  background-color: rgb(161, 161, 161);
  border: none;
  cursor: pointer;
}
.section2 .questions-container .question-answer {
  width: 100%;
  background-color: rgba(55, 55, 55, 0.722);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.section2 .questions-container .question-answer .answer-text {
  width: 80%;
  text-align: justify;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.hidden {
  display: none;
  height: 0;
  padding: 0 !important;
}

@media only screen and (max-width: 1700px) {
  .section2 .section2-img-first {
    height: 50%;
    margin-top: 170px;
    margin-left: 30px;
  }
  .section2 .section2-img-second {
    height: 50%;
    margin-top: 290px;
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1300px) {
  .section2 .section2-img-first {
    height: 40%;
    margin-top: 170px;
    margin-left: 30px;
  }
  .section2 .section2-img-second {
    height: 40%;
    margin-top: 290px;
    margin-left: 200px;
  }
}
@media only screen and (max-width: 1100px) {
  .preSection2 {
    background-image: url(../img/preSection2-mid.jpg);
  }
  .section2 .section2-img-first {
    display: none;
  }
  .section2 .section2-img-second {
    display: none;
  }
  .section2 .questions-container {
    transform: translate(20%);
    width: 70%;
    position: absolute;
    margin-top: 300px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }
}
@media only screen and (max-width: 1050px) {
  .preSection2 .preSection2-wrapper {
    width: 92%;
  }
  .preSection2 .preSection2-wrapper .section2-title {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 870px) {
  .preSection2 {
    background-image: url(../img/preSection2-small.jpg);
  }
  .preSection2 .preSection2-wrapper {
    width: 92%;
  }
  .preSection2 .preSection2-wrapper .section2-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .section2 .questions-container .question .question-icon {
    width: 50px;
  }
  .section2 .questions-container .question .question-icon .icon {
    width: 40%;
    height: auto;
    padding-left: 1rem;
  }
  .section2 .questions-container .question .question-title {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .section2 .questions-container {
    margin-top: 30%;
  }
  .section2 .questions-container .question-wrapper {
    width: 100%;
  }
  .section2 .questions-container .question-wrapper .question {
    padding: 0.71rem 0;
  }
  .section2 .questions-container .question-wrapper .question .question-title {
    font-size: 1.2rem;
  }
  .section2 .questions-container .question-answer {
    width: 100%;
    background-color: rgba(55, 55, 55, 0.722);
    padding: 1rem 0;
  }
  .section2 .questions-container .question-answer .answer-text {
    width: 90%;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
  }
}
@media only screen and (max-width: 400px) {
  .section2 .questions-container {
    margin-top: 20%;
    z-index: 1;
  }
}
@media only screen and (max-width: 380px) {
  .section2 .questions-container {
    margin-top: 10%;
    z-index: 1;
  }
}
.preSection3 {
  height: 20vh;
  background-image: url(../img/preSection3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.preSection3 .preSection3-wrapper {
  width: 97%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.141);
  backdrop-filter: blur(5px);
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preSection3 .preSection3-wrapper .section3-title {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.section3 {
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 .section3-wrapper {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 10px 10px 10px 10px rgba(28, 28, 28, 0.4862745098);
}
.section3 .section3-wrapper .application-text-container {
  width: 50%;
  font-family: "Montserrat", sans-serif;
}
.section3 .section3-wrapper .application-text-container .text-subtitle {
  font-size: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  padding: 0rem 1rem 0rem 2rem;
}
.section3 .section3-wrapper .application-text-container .text-title {
  font-size: 2rem;
  width: 100%;
  font-weight: 400;
  padding: 2rem 1rem 2rem 2rem;
}
.section3 .section3-wrapper .application-text-container .application-text {
  font-size: 1.3rem;
  padding: 1rem 2rem 4rem 2rem;
}
.section3 .section3-wrapper .application-text-container .logo-form {
  width: 120px;
  height: auto;
  position: absolute;
  margin-top: -30px;
  margin-left: 400px;
}
.section3 .section3-wrapper .application-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.section3 .section3-wrapper .application-container .input-container {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.section3 .section3-wrapper .application-container .input-container input {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  background: #f2f2f2;
  width: 90%;
  max-width: 90%;
  padding: 0.6em;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px 2px rgba(104, 104, 104, 0.4862745098);
}
.section3 .section3-wrapper .application-container .input-container input:focus {
  outline: none;
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
}
.section3 .section3-wrapper .application-container .input-container label {
  font-size: 1.1rem;
}
.section3 .section3-wrapper .application-container .input-container #more-info {
  height: 7em;
  width: 90%;
  padding: 0.6em;
  font-size: 1.2rem;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  background: #f2f2f2;
  box-shadow: 2px 2px 2px 2px rgba(104, 104, 104, 0.4862745098);
  max-width: 90%;
  font-family: "Montserrat", sans-serif;
}
.section3 .section3-wrapper .application-container .input-container #more-info:focus {
  outline: none;
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
}
.section3 .section3-wrapper .application-container .input-btn {
  padding: 2rem;
}
.section3 .section3-wrapper .application-container .input-btn .submit-btn {
  color: #f2f2f2;
  background-color: #1b1a1c;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 2px;
}
.section3 .section3-wrapper .application-container .input-btn .submit-btn:hover {
  cursor: pointer;
  scale: 0.99;
  opacity: 0.9;
  background-color: #494949;
}

@media only screen and (max-width: 1520px) {
  .section3 .section3-wrapper {
    width: 80%;
  }
}
@media only screen and (max-width: 1150px) {
  .preSection3 {
    background-image: url(../img/preSection3-mid.jpg);
  }
  .section3 .section3-wrapper .application-text-container .text-title {
    font-size: 1.7rem;
  }
  .section3 .section3-wrapper .application-text-container .logo-form {
    width: 100px;
    height: auto;
    margin-top: -10px;
    margin-left: 350px;
  }
}
@media only screen and (max-width: 1050px) {
  .preSection3 .preSection3-wrapper {
    width: 92%;
  }
  .preSection3 .preSection3-wrapper .section3-title {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 950px) {
  .section3 .section3-wrapper .application-text-container .logo-form {
    width: 100px;
    height: auto;
    margin-top: -10px;
    margin-left: 300px;
  }
}
@media only screen and (max-width: 870px) {
  .preSection3 {
    background-image: url(../img/preSection3-phone.jpg);
  }
  .preSection3 .preSection3-wrapper .section3-title {
    font-size: 2rem;
  }
  .section3 .section3-wrapper {
    width: 90%;
  }
  .section3 .section3-wrapper .application-text-container {
    width: 40%;
  }
  .section3 .section3-wrapper .application-text-container .text-subtitle {
    font-size: 0.91rem;
    color: #2c2c2c;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    padding: 0rem 1rem 0rem 2rem;
  }
  .section3 .section3-wrapper .application-text-container .text-title {
    font-size: 1.5rem;
    width: 80%;
    padding: 1rem 1rem 0rem 2rem;
  }
  .section3 .section3-wrapper .application-text-container .logo-form {
    width: 90px;
    height: auto;
    margin-top: -40px;
    margin-left: 230px;
  }
  .section3 .section3-wrapper .application-container {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  .section3 .section3-wrapper {
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .section3 .section3-wrapper .application-text-container {
    width: 100%;
    text-align: center;
  }
  .section3 .section3-wrapper .application-text-container .text-subtitle {
    font-size: 0.91rem;
    color: #2c2c2c;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    padding: 1rem 1rem 0rem 2rem;
  }
  .section3 .section3-wrapper .application-text-container .text-title {
    font-size: 1.5rem;
    width: 90%;
    padding: 1rem 1rem 0rem 2rem;
  }
  .section3 .section3-wrapper .application-text-container .logo-form {
    display: none;
  }
  .section3 .section3-wrapper .application-container {
    text-align: center;
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .section3 .section3-wrapper .application-text-container .text-title {
    font-size: 1.1rem;
    width: 90%;
    padding: 1rem 1rem 0rem 1rem;
  }
  .section3 .section3-wrapper .application-container {
    text-align: center;
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .section3 .section3-wrapper .application-text-container .text-title {
    font-size: 1rem;
    width: 90%;
    padding: 0.5rem 1rem 0rem 0.5rem;
  }
  .section3 .section3-wrapper .application-container {
    text-align: center;
    width: 90%;
    font-size: 1rem;
  }
  .section3 .section3-wrapper .application-container .input-container input {
    font-size: 1rem;
  }
  .section3 .section3-wrapper .application-container .input-container label {
    font-size: 0.9rem;
  }
  .section3 .section3-wrapper .application-container .input-container #more-info {
    height: 5em;
    width: 90%;
    padding: 0.6em;
    font-size: 0.9rem;
  }
}
.section4 {
  height: 22vh;
  font-family: "Montserrat", sans-serif;
  color: #f2f2f2;
  border-top: 1px solid rgba(156, 156, 156, 0.5019607843);
  background: #0d0d0d;
}
.section4 .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .contact-container .contact-title {
  font-size: 1.5rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
}
.section4 .contact-container .footer-wrapper {
  width: 95%;
}
.section4 .contact-container .footer-wrapper .footer-logo {
  width: 160px;
  position: absolute;
  margin-top: -40px;
  opacity: 0.8;
}
.section4 .contact-container .footer-wrapper .footer-text {
  text-align: center;
  margin-top: 10px;
}
.section4 .contact-container .footer-wrapper .contact-info {
  position: absolute;
  right: 20px;
}
.section4 .contact-container .footer-wrapper .contact-info .contact-ig {
  text-decoration: none;
  color: #f2f2f2;
}
.section4 .contact-container .footer-wrapper .contact-info .contact-text {
  padding-bottom: 1rem;
  font-size: 1rem;
  margin-top: 20px;
}
.section4 .contact-container .footer-wrapper .contact-info .instagram-btn-footer {
  width: 40px;
  position: absolute;
  right: 40px;
}

@media only screen and (max-width: 1100px) {
  .section4 .contact-container .contact-title {
    font-size: 1.3rem;
    padding: 1rem 0 0.71rem 0;
  }
  .section4 .contact-container .footer-wrapper .footer-text {
    margin-top: 0px;
    font-size: 0.91rem;
  }
  .section4 .contact-container .footer-wrapper .contact-info {
    padding-top: 1rem;
  }
  .section4 .contact-container .footer-wrapper .contact-info .contact-ig {
    font-size: 0.91rem;
  }
  .section4 .contact-container .footer-wrapper .contact-info .contact-text {
    padding-bottom: 0.91rem;
    font-size: 0.91rem;
    margin-top: 20px;
  }
  .section4 .contact-container .footer-wrapper .contact-info .instagram-btn-footer {
    width: 35px;
    right: 35px;
  }
}
@media only screen and (max-width: 700px) {
  .section4 .contact-container .contact-title {
    font-size: 1.3rem;
    padding: 1rem 0 0.71rem 0;
  }
  .section4 .contact-container .footer-wrapper .footer-logo {
    display: none;
  }
  .section4 .contact-container .footer-wrapper .footer-text {
    margin-top: 0px;
    font-size: 0.91rem;
  }
  .section4 .contact-container .footer-wrapper .contact-info {
    padding-top: 1rem;
  }
  .section4 .contact-container .footer-wrapper .contact-info .contact-ig {
    font-size: 0.91rem;
  }
  .section4 .contact-container .footer-wrapper .contact-info .contact-text {
    padding-bottom: 0.91rem;
    font-size: 0.91rem;
    margin-top: 20px;
  }
  .section4 .contact-container .footer-wrapper .contact-info .instagram-btn-footer {
    width: 35px;
    right: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .section4 .contact-container .footer-wrapper .footer-logo {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .section4 {
    height: 27vh;
  }
}
.thank-you-page {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thank-you-page .thanks-wrapper {
  width: 60%;
  height: 70%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px 4px rgba(104, 104, 104, 0.4862745098);
  z-index: 5;
}
.thank-you-page .thanks-wrapper .thanks-title {
  padding-top: 10rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  width: 100%;
}
.thank-you-page .thanks-wrapper .thanks-text {
  padding-top: 2rem;
  width: 70%;
  font-size: 1.5rem;
}
.thank-you-page .thanks-wrapper .thanks-btn {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #2c2c2c;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 2px;
  margin-top: 6rem;
}
.thank-you-page .thanks-wrapper .thanks-btn:hover {
  cursor: pointer;
  scale: 0.99;
  opacity: 0.9;
  background-color: #494949;
}
.thank-you-page .img-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.thank-you-page .img-container .logo-thanks {
  width: 100px;
  height: auto;
}
.thank-you-page .img-container .instagram-btn {
  width: 40px;
  height: 40px;
  margin-top: 3rem;
}

@media only screen and (max-width: 1000px) {
  .thank-you-page .thanks-wrapper {
    width: 70%;
  }
  .thank-you-page .thanks-wrapper .thanks-title {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 2.3rem;
    width: 90%;
  }
  .thank-you-page .thanks-wrapper .thanks-text {
    padding-top: 2rem;
    width: 80%;
    font-size: 1.3rem;
  }
  .thank-you-page .thanks-wrapper .thanks-btn {
    letter-spacing: 2px;
    font-size: 1.1rem;
  }
  .thank-you-page .img-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }
  .thank-you-page .img-container .logo-thanks {
    width: 70px;
  }
  .thank-you-page .img-container .instagram-btn {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 500px) {
  .thank-you-page .thanks-wrapper {
    width: 70%;
  }
  .thank-you-page .thanks-wrapper .thanks-title {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    width: 90%;
  }
  .thank-you-page .thanks-wrapper .thanks-text {
    padding-top: 2rem;
    width: 90%;
    font-size: 1.1rem;
  }
  .thank-you-page .thanks-wrapper .thanks-btn {
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .thank-you-page .img-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }
  .thank-you-page .img-container .logo-thanks {
    width: 70px;
  }
  .thank-you-page .img-container .instagram-btn {
    width: 35px;
    height: 35px;
    margin-top: 1rem;
  }
}
* {
  margin: 0;
  max-width: 100vw !important;
}

body {
  height: 100vh;
}/*# sourceMappingURL=main.css.map */